{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "never"],
    "array-callback-return": "error",
    "no-async-promise-executor": "error",
    "no-await-in-loop": "error",
    "no-class-assign": "error",
    "no-const-assign": "error",
    "no-dupe-args": "error",
    "no-dupe-class-members": "error",
    "no-dupe-else-if": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-duplicate-imports": "error",
    "no-empty-pattern": "error",
    "no-ex-assign": "error",
    "no-import-assign": "error",
    "no-irregular-whitespace": "error",
    "no-promise-executor-return": "error",
    "max-classes-per-file": ["error", 2],
    "max-depth": ["error", 4],
    "max-lines": ["error", 250],
    "max-lines-per-function": ["error", 65],
    "max-nested-callbacks": ["error", 3],
    "max-params": ["error", 4],
    "new-cap": "error",
    "no-alert": "error",
    "no-console": "warn",
    "no-else-return": "error",
    "no-eval": "error",
    "no-extra-semi": "error",
    "no-inline-comments": "error",
    "no-invalid-this": "error",
    "no-lonely-if": "error",
    "no-trailing-spaces": "error",
    "@typescript-eslint/no-empty-function": 0
  }
}